@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

@*<p>Use this area to provide additional information.</p>*@


<p>
    Employees are often required to travel to Domestic as well as international locations based on business requirements.
    This application “Employee Travel Booking Application” will help employees to raise or submit a ticket for travelling to the required location.
</p>
